
amhe_recueil.pdf
amhe_ateliers.pdf
amhe_principes.pdf

recueil/amhe_recueil.pdf
recueil/amhe_ateliers.pdf
principes/amhe_principes.pdf

syntax: glob

images/*/*.pdf
diagrammes/*/*.pdf

*/diagrammes
*/images

